<!--begin::Footer-->
<footer class="app-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#" class="text-decoration-none">Student Management System</a></strong>
    <div class="float-end d-none d-sm-inline">Version 1.0</div>
</footer>
<!--end::Footer-->